<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<select id="queryAll" resultType="User">
		select * from user;
	</select>
	<select id="queryList" parameterType="int" resultType="user">
		select * from user where Id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	<select id="queryOne" parameterType="int">
		select * from user where Id = #{id}
	</select>
	<insert id="insert" parameterType="user">
		insert into user(username,password) values(#{username},#{password})
	</insert>
</mapper>